// =============================================
// СПИСОК КНОПОК РОЛЕЙ
// =============================================

@use '../abstracts' as *;

.roles-buttons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  &__title {
    display: flex;
    font-size: 23px;
    height: 100%;
    margin: 0;
  }
}
